body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: #333;
	color: #000;
	font-size: 1.1em;
	line-height: 2;
	text-align: center;
	overflow: hidden;
}
img {
	display: block;
	width: 100%;
	height:100%;
}
h1, h2, h3 {
	margin: 0;
	padding: 1em 0;
}
/* Navbar */
#top-navi{
	width: 100%;
	margin-top: -20px;
	position: fixed;
	background: rgba(0,0,0,.8);
}
.leftNavbar{
	float: left;
}
.rightNavbar{
	float: right;
}
.menubar{
	margin: 0;
	padding: 0;
	display: flex;
}
.menubar a{
	display: block;
	padding: 0.8em 1.4em;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

section{
	width: 100%;
	height: 36em;
	margin: 0;
	padding: 5em 1em;
	background: #e3e3e5;
}
.content-wrap{
	width: 90%;
	margin: 0.5em auto;
}


.image-content-about{
	margin-top: 60px;
	margin-left: 170px;
	width: 150px;
	height: 150px;
	float: left;
}

.image-content-menu{
	width: 45%;
	height: 28em;
	float: right;
}

.text-content{
	width: 45%;
	float: right;
}

.videoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -10;
}

iframe {
  /* optional */
  width: 100%;
  height: 100%;
  z-index: -10;
}