<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Snake!</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
	<style>
	  table, th, td {
	  border: 1px solid black;
	  }
	</style>
  </head>

  <body>
	<!-- Navbar -->
	<nav id="top-navi">
	  <div class="mobile-navi"></div>
	  <div class="desktop-navi">
		<div class="mainNavbar">
		  <div class="leftNavbar">
			<div class="menubar">
			  <img src="/images/Snake-icon-24.png" height="42" width="42">
			</div>
		  </div>
		  <div class="rightNavbar">
			<div class="menubar">
			  <a href="/">New</a>
			  <a href="display_scores">Scores</a>
			  <a href="about">About</a>
			</div>
		  </div>
		</div>
	  </div>
	</nav>

    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
          </ul>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/myjs.js"></script>

  </body>
</html>
