<div>
  <div class="content-wrap">
	<div class="image-content-about">
	  <img src="/images/me.png" >
	</div>
	<div class="text-content">
	  <div class="content-wrap">
		<h2>About me</h2>
		<p>I’ve been working with Erlang/Elixir for more than 2 years. Designed and implemented scalable solutions for blockchain, IoT, banking software, web. Personal strong interests in IoT, blockchain, computer networks.</p>
	  </div>
	</div><!-- End div content-wrap -->

</div>
