<div>
  <table style="width:100%">
    <tr>
      <th>Username</th>
      <th>Scores</th>
    </tr>
    <%= for {user, score} <- SnakeWeb.Scores.get_scores do %>
        <tr>
          <td> <%= "#{user}" %> </td>
          <td> <%= "#{score}" %> </td>
        </tr>
    <% end %>
</div>

</div>
